.delet {
  margin-top: 1000px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.btn {
  padding: 10px 25px;
  margin-top: 25px !important;
}
.amount {
  font-size: 24px;
  color: #000000;
}
span,
p {
  font-size: 16px;
  line-height: 26px;
}
h3 {
  font-size: 36px;
  padding-top: 40px;
  padding-bottom: 20px;
}
/* ---------------
Header Part
------------------ */
header {
  background-color: #ffffff;
}
header form > input {
  background-color: #f1f1f1 !important;
  border-radius: 20px !important;
}

.navbar span {
  margin-left: -30px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #f1f1f1;
}

/* ------------
Banner Part 
---------------*/
.banner-part {
  background-color: #feeae9 !important;
  border-radius: 20px;
}

.banner-part h1 {
  font-size: 56px;
  font-weight: 700;
}

.banner-part span {
  font-size: 41px;
  color: #ff136f;
  font-weight: 700;
}
.banner-part button {
  background-color: #ff136f;
}
/* button {
  margin-top: 35px;
  padding: 10px 30px !important;
  font-size: 18px;
} */

/* Catagory Content */

.catagory_content {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
  height: 120px;
  position: relative;
  border-radius: 15px;
}

.catagory_content h3 {
  color: white;
}
.catagory_content img {
  height: 100px;
  width: auto;
}

.catagory_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.catagory_item {
  margin-left: 20px;
}

.catagory-2 {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}
.catagory-3 {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}

/* -----------
Shop Part 
------------- */
#Shop-Part {
  background-color: #f4f4f4 !important;
  padding-bottom: 50px;
}

/* ------------- 
Contanct Part 
----------------*/
.form {
  background-color: #feeae9;
  height: 500px;
}

.contanct-us input {
  width: 600px;
  height: 70px;
  align-items: center;
  justify-content: center;
}
.contanct-us button {
  margin-left: -6px;
  padding: 19px 30px;
  border: 0;
  background-color: #ff136f;
  font-size: 20px;
  color: white;
  font-weight: 700;
}
input {
  padding-left: 20px;
  color: white;
  border: 0;
}
